.SignUpPage {
  width: 600px;
  display: flex;
  flex-direction: column;
  row-gap: 4rem;

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }
}
.Form {
  row-gap: 5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Btns {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
