.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  padding: 1rem;

  &:nth-child(1) {
    grid-column-end: span 2;
  }
  &:nth-child(2) {
    grid-column-end: span 2;
  }
  &:nth-child(3) {
    grid-column-end: span 2;
  }
  &:nth-child(4) {
    grid-column-end: span 3;
  }
  &:nth-child(5) {
    grid-column-end: span 3;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  padding: 2rem;

  &_paragraph {
    font-size: 3rem;
  }

  &_small {
    font-size: 1.5rem;
  }
}
