.Header {
  height: 70px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__Links {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 40px;
  }

  &__Link {
    font-size: 25px;
    width: 100px;
  }
}
